Arduino IDE
BraveSoftware/Brave-Browser
Postman
PostmanAgent
arduino-ide
autostart
bruno
create-next-app-nodejs
dconf
Code - OSS
balena-etcher
com.github.junrrein.PDFSlicer
discord/0.0.35/modules
discord/Cache/Cache_Data
discord/Code Cache
discord/Crashpad
discord/DawnCache
discord/Dictionaries
discord/GPUCache
discord/Local Storage/leveldb
discord/Session Storage
discord/VideoDecodeStats
discord/WebStorage
discord/databases
discord/sentry
discord/shared_proto_db
discord/Cookies
discord/Cookies-journal
discord/Network Persistent State
discord/Preferences
discord/SingletonCookie
discord/SingletonLock
discord/SingletonSocket
discord/TransportSecurity
discord/domainMigrated
discord/modules.log
discord/quotes.json
discord/tray-connected.png
discord/tray-deafened.png
discord/tray-muted.png
discord/tray-speaking.png
discord/tray-unread.png
discord/tray.png
libreoffice/4/user
nvim/plugin
